<!DOCTYPE html>
<html lang="pt-BR" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <title>Imobiliária</title>
    <link href="../styles/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <a id="login" href="/login">Login</a>
    <br/>
    <a id="cadCorr" href="/corretores/cadastro/">Cadastro de Corretores</a>
    <br/>
    <a id="cadUser" href="/usuarios/cadastro/">Cadastro de Usuários</a>
    <br/>
    <a id="cadUser" href="/clientes/cadastro/">Cadastro de Clientes</a>
    <!-- Conteúdo -->
</body>
</html>