<!DOCTYPE html>
<html lang="pt-BR" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <title>Login | Registre-se</title>
    <!--<link href="../styles/index.css" rel="stylesheet" type="text/css"/>-->
</head>
<body>
    <form id="formLogin" action="/login/logar" method="POST">
        <h1>Login</h1><br/>
        <label>E-mail: </label>
        <input type="text" name="emailLogin"><br/>
        <br/>
        <label>Senha</label>
        <input type="password" name="senhaLogin"><br/>
        <br/>
        <button type="submit">Login</button>
    </form>
    <form id="formRegistrar" action="/login/registrar" method="POST">
        <h1>Registre-se</h1><br/>
        <label>Nome: </label>
        <input type="text" name="nome"><br/>
        <br/>
        <label>E-mail: </label>
        <input type="text" name="emailRegistro"><br/>
        <br/>
        <label>Senha</label>
        <input type="password" name="senhaRegistro"><br/>
        <br/>
        <button type="submit">Registrar-se</button>
    </form>
    <div name="teste">

    </div>
    <!-- Conteúdo -->
</body>
</html>